@charset "utf-8";
/* CSS Document */


/*-- GENERALI --*/
body, html { height:100%; margin:0px; padding:0px;}
body { background:url(../img/fondo.jpg) repeat-y #373737; min-width:850px;font-family: 'Istok Web', sans-serif; }
form { margin:0px; padding:0px;}
input, select, textarea {font-family: 'Istok Web', sans-serif;}
ul, li { list-style:none}

/*-- ALTO --*/
.alto { background-color:#595959; height:33px; position:absolute; width:100%; min-width:850px}
.sincronizza_bottone { float:right; background:url(../img/sincronizza.jpg) no-repeat; width:133px; text-align:center; height:33px;}
.sincronizza_bottone a { display:block; color:#FFFFFF; font-weight:700; text-decoration:none; padding-top:5px;text-shadow:#666666 1px 1px 1px; }
.sincronizza_bottone a:hover { color:#ffcc00; }
.sincronizza_testo { float:right; margin-right:20px; color:#ffcc00; padding-top:8px; font-size:12px;}
#sincronizza_quanti { float:right; margin-right:20px; color:#ffffff; padding-top:8px; font-size:12px; font-weight:bold;-webkit-animation: blink 0.7s infinite linear alternate;
  -webkit-font-smoothing: antialiased;}
#sincronizza_quanti a { color:#ffffff; }

@-webkit-keyframes blink {
  0%     { opacity: 0 } 50% { opacity: 0 }
  50.01% { opacity: 1 } 100% { opacity: 1 }
}

/*-- BARRA LOGO E CERCA --*/
.barra_logo_cerca { height:71px; background:#000; position:absolute; margin-top:33px; width:100%; min-width:850px}
.logo { float:left}
.cerca_alto { background:url(../img/cerca_alto.png) no-repeat; width:405px; height:40px; margin-top:19px; float:right; margin-right:16px;}
.ricerca_alto { margin:0px; padding:0px; border:none; background:none; margin-left:33px; margin-top:8px; font-size:14px; color:#9d9fa4; width:250px;}
.ricerca_alto_submit { background:none; border:none; width:110px; text-align:center; color:#FFFFFF; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; cursor:pointer}
.ricerca_alto_submit:hover { color:#000000}


/*-- BARRA MENU --*/
.menu { background:url(../img/fondo_menu.png) repeat-x top; height:80px; position:absolute; margin-top:104px; width:100%; min-width:850px}
.registrato { background:url(../img/registrato_ico.png) no-repeat 13px 13px; padding-left:70px; padding-top:10px; color:#8c6a18; line-height:16px; font-size:11px; float:left}
.registrato b { font-size:20px;}
.registrato a { color:#8c6a18;}
.registrato a:hover { color:#8c6a18; text-decoration:none;}
.menu_alto { float:right}
.menu_alto ul { margin:0px; padding:0px; list-style:none;}
.menu_alto li { float:left; width:152px; height:73px;; margin-right:20px; margin-left:20px;}
.menu_alto li.attivo { float:left; width:152px; height:73px; margin-right:20px; margin-left:20px; background:url(../img/menu_on.jpg) no-repeat top left;}
.menu_alto li.attivo a { color:#FFFFFF;}
.menu_alto li a { color:#705700; text-decoration:none; font-size:12px; display:block; padding-top:50px; text-align:center; font-weight:bold}
.menu_alto li a:hover { color:#ffffff; text-decoration:none; padding-bottom:10px;}
.menu_alto_open { background:url(../img/menu_catalog_open_off.png) no-repeat 50% 15px;}
.menu_alto_excl { background:url(../img/menu_catalog_exc_off.png) no-repeat 50% 15px;}
.menu_alto_sincro { background:url(../img/menu_sincro_off.png) no-repeat 50% 15px;}
.menu_alto li.attivo a.menu_alto_open { background:url(../img/menu_catalog_open_on.png) no-repeat 50% 15px;}
.menu_alto li.attivo a.menu_alto_excl { background:url(../img/menu_catalog_exc_on.png) no-repeat 50% 15px;}
.menu_alto li.attivo a.menu_alto_sincro { background:url(../img/menu_sincro_on.png) no-repeat 50% 15px;}
.categorie_hp {
clear: both;
color: #CCC;
font-weight: bold;
border-bottom: 1px #CCC solid;
font-weight: bold;
padding-left: 10px;
padding-top: 20px;
font-size: 18px;
}

.contenuti { position:absolute; width:100%; margin-top:185px;}
.contenuti_index { margin-top:300px;}
/*-- COLONNA DI SINISTRA --*/
.cerca_sx { background:url(../img/cerca_sx.png) no-repeat; width:235px; height:40px; margin-top:10px; margin-left:10px; color:#FFFFFF; font-size:13px;}
.ricerca_sx { margin:0px; padding:0px; border:none; background:none; margin-left:33px; margin-top:8px; font-size:14px; color:#9d9fa4; width:120px;}
.ricerca_sx_submit { background:none; border:none; width:75px; text-align:center; color:#FFFFFF; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; cursor:pointer;}
.ricerca_sx_submit:hover { color:#000000}
.select_vibram select, .select_vibram_gialla select { background: transparent; width:229px; padding:3px;  height: 30px; border:none; -webkit-appearance: none;color:#333333;text-shadow:#ffffff 1px 1px 1px; font-size:15px; font-weight:bold; cursor:pointer}
.select_vibram {width: 229px; height: 30px; overflow: hidden; background:url(../img/select.png) no-repeat right;-webkit-appearance: none;}
.select_vibram_gialla {width: 229px; height: 30px; overflow: hidden; background:url(../img/select_gialla.jpg) no-repeat right !important;-webkit-appearance: none;}
.cerca_sx_box_giallo { background: url(../img/cerca_x.png) no-repeat right #f0b00e; padding:3px; color:#705B27; float:left; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; margin-top:5px; margin-right:5px; font-size:12px; font-weight:bold;}
.cerca_sx_box_giallo:hover { background: url(../img/cerca_x.png) no-repeat right #ffffff;}
.cerca_sx_box_giallo a { padding-right:20px; display:block; color:#705b27; text-decoration:none; padding-left:5px;}
.cerca_sx_box_giallo:hover a { color:#333}

/*-- CONTENUTI CENTRALI --*/
.centrale { position:absolute; margin-left:270px;}
.colonna_sx { position:absolute; width:270px;}
#wrapper { position:absolute; z-index:1;width:100%;overflow:auto;}
#scroller { position:absolute; z-index:1;-webkit-tap-highlight-color:rgba(0,0,0,0);width:100%;padding:0;}
#wrapper ul { margin:0px; padding:0px; margin-right:30px;}
#wrapper li { background:#535353;  border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; margin-bottom:10px; height:170px; list-style:none;}
#wrapper li.risultati_trovati { background:#000000; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; height:40px; margin-top:10px; color:#FFF; list-style:none}
#wrapper li.risultati_trovati .ul_1 { float:left; list-style:none}
#wrapper li.risultati_trovati .ul_1 li,#wrapper li.risultati_trovati .ul_2 li { background:none; list-style:none}
#wrapper li.risultati_trovati .ul_2 { float:right; list-style:none; font-size:11px; padding-top:10px;}
#wrapper li.risultati_trovati .ul_1 li { padding-left:20px; padding-top:7px; color:#8d8d8d; font-weight:bold; font-size:20px; height:20px;}
#wrapper li.risultati_trovati .ul_2 li { float:left; list-style:none; padding-left:20px; height:20px;}
#wrapper li.risultati_trovati .ul_2 li a { display:block; cursor:pointer; margin-top:3px;}
.li_normale_foto { float:left; width:112px; height:143px; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; background:#FFFFFF; text-align:center; margin-top:15px; margin-left:15px; display: inline-block; vertical-align:middle}
.li_normale_testo { float:left; background:#494949; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; height:143px; margin-top:15px; margin-left:15px;}
.li_normale_testo_titolo { margin:20px; color:#FFF; font-weight:bold; margin-bottom:10px;}
.link_scheda { background:url(../img/link_scheda.png) no-repeat; width:98px; height:133px; float:right; margin-top:8px; margin-right:3px;}
.link_scheda a { width:98px; height:83px; text-align:center; color:#FFFFFF; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; text-decoration:none; display:block; padding-top:50px;}
.link_scheda a:hover { color:#000000 }
.flag_1 { background:url(../img/flag_1.jpg) no-repeat ; padding-left:50px !important;}
.flag_2 { background:url(../img/flag_2.jpg) no-repeat ; padding-left:50px !important;}
.flag_3 { background:url(../img/flag_3.jpg) no-repeat ; padding-left:50px !important;}
.flag_4 { background:url(../img/flag_4.jpg) no-repeat ; padding-left:50px !important;}
.li_dettaglio { font-size:11px; color:#aaaaaa; padding-left:20px;}
.li_dettaglio b { font-size:11px; color:#ffffff;}
.li_dettaglio_interno { font-size:12px; color:#aaaaaa; padding-left:0px; padding-bottom:10px; width:400px;}
.li_dettaglio_interno b { font-size:12px; color:#ffffff;}
.ul_2 li a.asc { background: url(../img/freccia_giu.png) no-repeat right #535353; padding:3px; padding-left:15px; padding-right:25px; color:#ffffff; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:0px !important;}
.ul_2 li a.desc { background: url(../img/freccia_su.png) no-repeat right #535353; padding:3px; padding-left:15px; padding-right:25px; color:#ffffff; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:0px !important;}
.singola_ricerca a { padding:3px; padding-left:15px; padding-right:15px; font-size:16px; text-decoration:none; background-color:#000000; color:#cccccc; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:0px; float:left; margin-right:10px; margin-top:10px;}
.singola_ricerca a:hover { color:#000; background-color:#ffcc00}


.button_ricerca_off a { padding:3px; padding-left:15px; padding-right:15px; font-size:16px; text-decoration:none; background-color:#444444; color:#cccccc; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:11px; float:right; margin-right:16px; text-align:center; width:60px}
.button_ricerca_off a:hover { color:#cccccc; background-color:#444444}
.button_ricerca_on a { padding:3px; padding-left:15px; padding-right:15px; font-size:16px; text-decoration:none; background-color:#ffcc00; color:#000; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:11px; float:right; margin-right:16px; text-align:center; width:60px}
.button_ricerca_on a:hover { color:#000; background-color:#ffcc00}

#tabs_prodotto h1 a.tabs_prodotto_on{ margin:0px; padding:0px; color:#ffcc00; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; padding-bottom:10px; text-decoration:none}
#tabs_prodotto h1 a.tabs_prodotto_off{ margin:0px; padding:0px; color:#FFFFFF; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; padding-bottom:10px; text-decoration:none}

/*scheda interna*/
.scheda_interna {}
.scheda_interna_barra_alta {  background:url(../img/fondino_scheda.jpg) repeat-x; height:35px; text-align:center;}
.scheda_interna_barra_alta h1 { margin:0px; padding:0px; text-align:center; color:#FFFFFF; font-size:20px; font-weight:700; text-shadow:#666666 1px 1px 1px; padding-top:3px;}
.colonna_dx {position:absolute; right:0px; width:800px; margin-right:-752px; z-index:12;}
#wrapper_colonna { z-index:13; width:100%; overflow:auto; }
#scroller_colonna { position:absolute; z-index:13; width:800px; color:#847F79;height:532px;background:url(../img/fondo_colonna.png) no-repeat 0px 50%; padding-left:50px; padding-right:400px;}
#scroller_colonna h1 { margin:0px; padding:0px; color:#FFFFFF; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; padding-bottom:10px;}
/*#dettaglio_prodotto {background:url(../img/colonna_interna.png) no-repeat 0px 50%;}*/
#tabs_prodotto h1 a{ margin:0px; padding:0px; color:#FFFFFF; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; padding-bottom:10px; text-decoration:none}
#tabs_prodotto h1 a.hover{ margin:0px; padding:0px; color:#FFFFFF; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; padding-bottom:10px; text-decoration:none}
/*#prodotti_correlati {}*/

.colonna_sx_imma {position:absolute; left:-800px; width:848px; z-index:13;}
#wrapper_colonna_sx { z-index:14; width:100%; overflow:auto; }
#scroller_colonna_sx { position:absolute; z-index:14;width:150px; color:#847F79;background:url(../img/fondo_colonna_imma.png) no-repeat right 50%; padding-left:820px;}

.colori h2 { margin:0px; padding:0px; color:#FFFFFF; font-size:14px; font-weight:700; text-shadow:#666666 1px 1px 1px; }
.colori .singolo_colore { float:left; font-size:11px; text-align:center; width:60px; margin-right:10px; margin-top:10px; color:#CCCCCC;}
.colori .singolo_colore img { margin-bottom:5px;}

.singola_foto { margin-right:15px; margin-top:15px;}
/*iScroll*/
.myScrollbarV {
	position:absolute;	z-index:100;width:8px;bottom:7px;top:2px;right:1px; background-color:#5d5d5d;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

.myScrollbarV > div {
	position:absolute;	z-index:100;	width:100%;
	/* The following is probably what you want to customize */
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#b3b3b3));
	background-image:-moz-linear-gradient(top, #f00, #900);
	background-image:-o-linear-gradient(top, #f00, #900);
	border:none;
	-webkit-background-clip:padding-box;
	-webkit-box-sizing:border-box;
	-webkit-border-radius:4px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}

.loading { padding:3px; background-color:#000000;border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; float:left; margin-top:3px; margin-left:3px}

#dettaglio_prodotto { position:absolute; z-index:980809909; background-color:#ffffff;}
.ui-autocomplete-loading { background: white url('../img/ajax-loader_cerca.gif') right center no-repeat; }
.centrale h1 { margin:0px; padding:0px; font-size:35px; color:#CCCCCC; padding-left:20px; padding-top:20px;}
.campo_modulo { color:#FFFFFF; padding-left:20px; padding-top:20px;}
.campo_modulo_in { margin:0 auto}
.campo_modulo_in input {  padding:5px; font-size:15px; background:url(../img/fondo_input.png) no-repeat; width:224px; height:45px; border:none; padding-left:10px;}
.campo_modulo_submit { background:url(../img/submit.png) no-repeat; height:68px; width:235px; margin:0 auto; margin-top:10px;}
.campo_modulo_submit input { width:235px; text-align:center; background:none; border:none;text-shadow:#666666 1px 1px 1px; color:#FFFFFF; font-size:25px; font-weight:bold; padding-top:10px;}
.campo_modulo_sotto { color:#CCCCCC; font-size:13px; margin-left:20px }

#singolo_prodotto  { position:absolute;display:none; z-index:980809909; background-color:#ffffff; overflow:hidden; /*test123*/}
.serve_aiuto { background:url(../img/aiuto.png) no-repeat; padding-left:45px; height:50px; padding-top:7px; font-weight:bold; font-size:17px; margin-left:37px; }
.serve_aiuto_index { background:url(../img/aiuto.png) no-repeat; padding-left:45px; height:50px; padding-top:7px; font-weight:bold; font-size:17px; margin-left:37px; margin:0 auto; margin-top:75px; width:150px; }
.serve_aiuto a, .serve_aiuto_index a { color:#FFDA4F; text-decoration:underline}
.serve_aiuto a:hover, .serve_aiuto_index a:hover { color:#FFDA4F; text-decoration:none}
#serve_aiuto, #sincronizza_div, .sotto_color { padding:40px; color:#FFFFFF;}
#serve_aiuto h1, #sincronizza_div h1, .sotto_color h1 { margin:0px; padding:0px; color:#FFDA4F; font-size:20px; margin-bottom:10px; padding-bottom:5px; border-bottom:1px solid #FFDA4F}
#serve_aiuto a, #sincronizza_div a, .sotto_color a, .download_pdf { background:#ffcc00; padding:3px; padding-left:15px; padding-right:15px; color:#333333; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:10px !important; text-decoration:none}
#serve_aiuto a:hover, #sincronizza_div a:hover, .sotto_color a:hover, .download_pdf:hover {  background:#535353}

#loading_phailed {padding:40px; color:#FFFFFF;}
#loading_phailed a {background:#ffcc00; padding:3px; padding-left:15px; padding-right:15px; color:#333333; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:10px !important; text-decoration:none}
#loading_phailed a:hover {background:#535353}


.autocompletamento { position:absolute; z-index:25623;}
.autocompletamento ul { margin:0px; padding:0px; list-style:none; background-color:#FFFFFF; margin-left:30px; padding:10px; padding-top:0px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding-top:10px;}
.autocompletamento ul li { border-bottom:1px dotted #CCC; }
.autocompletamento ul li a { font-size:12px; color:#999; text-decoration:none;display:block; padding:5px; padding-right:10px; padding-left:10px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.autocompletamento ul li a:hover { background-color:#FFcc00} 
.app_registrata { font-size:18px; color:#FFFFFF; padding-top:35px; padding-bottom:10px;}
.app_registrata b { color:#F0AE0D; font-weight:normal}
#form_first { text-align:center}
.barra_bordo { border:1px solid #F0AE0D; height:32px; width:200px; padding:2px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; float:left;}
.barra_giro { float:left; width:40px; padding-left:5px;}
#barra_loading { background-color:#F0AE0D; height:32px; width:1px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
#valore_numerico { float:left; color:#FFFFFF; padding:5px; font-size:15px; font-weight:bold; padding-top:6px; padding-left:0px;;}

.sync_riga { background:url(../img/syncro.png) no-repeat 10px 10px; padding-left:50px; color:#FFF; height:35px; padding-top:12px; font-size:15px;}
.sync_colore { color:#DFAC00; padding-left:15px;}

#wrapper li.elenco_sync { height:43px;}
.descrizione_prodotto ul { margin:0px; padding:0px; list-style:none;}
.cambio_utente a { color:#CCC; text-decoration:none; font-size:11px;}

.pdf_download { background:#ffcc00; padding:3px; padding-left:15px; padding-right:15px; color:#333333; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:0px !important; text-decoration:none}